<div class="container-fluid">
  <div class="header">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark justify-content-end">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/hotel">Hotel</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/mon_compte">Mon compte</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
        </div>
      </div>
    </nav>
  </div>
</div>