<div class="container">
  <div class="header">
    <div class="navbar d-flex justify-content-end" id="nav">
      <ul>
        <li><a class="nav-link active" aria-current="page" routerLink="/home">Home</a></li>
        <li><a class="nav-link active" aria-current="page" routerLink="/hotel">Hotel</a></li>
        <li><a class="nav-link active" aria-current="page" routerLink="/mon_Compte">Mon compte</a></li>
        <li><a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
