<div class="container">
  <section class="section">
    <div>
      <!--Section heading-->
      <h2 class="section-heading h1 pt-4">Contactez nous</h2>

      <!--Section description-->
      <p class="section-description">Vous avez des questions? N'hesitez pas a nous contacter directement</p>
    </div>

    <div class="container">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="fname">Votre Nom</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Votre Prenom</label>
          </div>
          <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="email">Votre E-mail</label>
          </div>
          <div class="col-75">
            <input type="email" id="email" name="email" placeholder="Your e-mail...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="city">Ville</label>
          </div>
          <div class="col-75">
            <input type="text" id="city" name="city" placeholder="Your city...">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Votre Subjection</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row" style="text-align:right;">
          <input type="submit" value="Envoyer" name="submit" class="txt2">
        </div>
      </form>
    </div>
  </section>
</div>
